body{
    background-color: #E5E5E5
}

.navBar{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px 5px;
    margin-right: 1%
}

.logo{
    height: 37px;
}

.navBar a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600
}